<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Question Libarary</title>
    <style>
      table, th, td {
        border: 1px solid #bcbcbc;
      }
      table {
        width: 400px;
        height: 200px;
      }
    </style>
</head>
<table>
    <thead>
    <tr>
        <th>Question ID</th>
        <th>Content</th>
        <th>Category</th>
        <th>Selected Count</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="question : ${questionLibList}">
        <td th:text="${question.questionID}"></td>
        <td th:text="${question.questionContent}"></td>
        <td th:text="${question.questionCategory}"></td>
        <td th:text="${question.questionSelectedCount}"></td>
    </tr>
    </tbody>
</table>